build/
Debug/
Release/
generated/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.a
*.so
*.so.*
*.dylib
testsuite/

.vs/
*.sln
*.vcxproj
*.db
.suo
*.filters
*.ipch
*.tlog
*.log
*.pdb
*.obj
*.lib
