base/
build/
Debug/
Release/
generated/
CMakeFiles/
CMakeScripts/
*.xcodeproj/
CMakeCache.txt
cmake_install.cmake
gipConfig.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
DartConfiguration.tcl
gip-*.sh
gip-*.tar.gz
Testing/
*.cmake
install_manifest.txt
Makefile
bin/
lib/
include/
*.a
*.so
*.so.*
*.dylib
testsuite/

.vs/
*.sln
*.vcxproj
*.db
.suo
*.filters
*.ipch
*.tlog
*.log
*.pdb
*.obj
*.lib
